<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  rel="stylesheet" href="createcardstyles.css">
  <title>404: Not Found</title>
</head>
<body>
  <main>
    <div>
      <img class="topimg" src="error-1349562_640.png" alt="404 Not Found">
    </div>
    <div>
      <h1>
        We cannot find the page you are looking for.
      </h1>
    </div>
    <div>
      <p>
        But you can <a href="/">create your own</a>!
      </p>
    </div>
  </main>
</body>
</html>